.userInput {
    margin-top: 50px;
    margin-left: 24px;
    border: 2px lightgray;
    border-radius: 10px;
}

.userInput {
    float: left;
    
}

#distance {
    margin-top: 20px;
}

#fuelTypeDiv {
    margin-top: 20px;
    
}